
services:
  ###################################
  # NEXT.JS (Production)
  ###################################
  web:
    container_name: next_web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    depends_on:
      - db
      - redis
    restart: unless-stopped
    networks:
      - app-network

  ###################################
  # POSTGRES DATABASE
  ###################################
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network
    restart: unless-stopped

  ###################################
  # REDIS CACHE
  ###################################
  redis:
    image: redis:7-alpine
    container_name: redis-cache
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
