name: Deploy 

on:
  push:
    branches:
      - main 
      - '**' 

env:
  PROJECT_ID: mimetic-sunset-478418-d1
  REGION: europe-west1
  API_URL: https://t2-api-34ootpkhva-ew.a.run.app/api

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Login na Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configurar Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy Backend
        run: |
          # Submit Build (Usa o ficheiro cloudbuild.api.yaml se ele existir na raiz)
          gcloud builds submit --config=cloudbuild.api.yaml . --project=${{ env.PROJECT_ID }}
          
          # Deploy Cloud Run
          # NOTA: Configurei as chaves para usarem Secrets do GitHub. 
          # Vai a Settings -> Secrets and variables -> Actions e cria: JUMPSELLER_LOGIN e JUMPSELLER_TOKEN
          gcloud run deploy t2-api \
            --image=europe-west1-docker.pkg.dev/${{ env.PROJECT_ID }}/product-repo/t2-api:latest \
            --region=${{ env.REGION }} \
            --project=${{ env.PROJECT_ID }} \
            --allow-unauthenticated \
            --port=3002 \
            --add-cloudsql-instances=mimetic-sunset-478418-d1:europe-west1:t2-postgres-db \
            --set-env-vars="JUMPSELLER_LOGIN=${{ secrets.JUMPSELLER_LOGIN }},JUMPSELLER_TOKEN=${{ secrets.JUMPSELLER_TOKEN }},DATABASE_URL=postgresql://postgres:gyokeres@localhost/product-page?host=/cloudsql/mimetic-sunset-478418-d1:europe-west1:t2-postgres-db"

      - name: Deploy Frontend (Product Page)
        run: |
          # --- CORREÇÃO AQUI ---
          # 1. O contexto passou a ser '.' (a raiz) para apanhar a pasta prisma
          # 2. Usamos --file para apontar para o Dockerfile correto
          gcloud builds submit . \
            --file=apps/mips_product_page/Dockerfile \
            --tag=europe-west1-docker.pkg.dev/${{ env.PROJECT_ID }}/product-repo/t2-web:latest \
            --project=${{ env.PROJECT_ID }}

          gcloud run deploy t2-web \
            --image=europe-west1-docker.pkg.dev/${{ env.PROJECT_ID }}/product-repo/t2-web:latest \
            --region=${{ env.REGION }} \
            --project=${{ env.PROJECT_ID }} \
            --allow-unauthenticated