body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

}

html, body, #root {
  margin: 0;
  padding: 0;
}


.content-harness {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
}